In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/adib0073/FastAPI_Docker_Deployment/main/uci_heart_disease/Data/heart.csv')

In [4]:
df.head()

,age,sex,chest_pain_type,resting_bp,cholestoral,fasting_blood_sugar,restecg,max_hr,exang,oldpeak,slope,num_major_vessels,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [8]:

df.shape

(303, 14)

In [16]:
# rows with max cholestoral
print(df[df.cholestoral == df.cholestoral.max()])

    age  sex  chest_pain_type  resting_bp  cholestoral  fasting_blood_sugar  \
85   67    0                2         115          564                    0

    restecg  max_hr  exang  oldpeak  slope  num_major_vessels  thal  target
85        0     160      0      1.6      1                  0     3       1

In [17]:
print(df.age.max())

77

In [18]:
print(df.resting_bp.mean())

131.62376237623764

In [20]:
df.shape

(303, 14)

In [25]:
df.loc[10, 'age']

54

In [26]:
df.loc[10:20]

,age,sex,chest_pain_type,resting_bp,cholestoral,fasting_blood_sugar,restecg,max_hr,exang,oldpeak,slope,num_major_vessels,thal,target
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3,1

In [27]:
print(df.describe())

              age         sex  chest_pain_type  resting_bp  cholestoral  \
count  303.000000  303.000000       303.000000  303.000000   303.000000
mean    54.366337    0.683168         0.966997  131.623762   246.264026
std      9.082101    0.466011         1.032052   17.538143    51.830751
min     29.000000    0.000000         0.000000   94.000000   126.000000
25%     47.500000    0.000000         0.000000  120.000000   211.000000
50%     55.000000    1.000000         1.000000  130.000000   240.000000
75%     61.000000    1.000000         2.000000  140.000000   274.500000
max     77.000000    1.000000         3.000000  200.000000   564.000000

       fasting_blood_sugar     restecg      max_hr       exang     oldpeak  \
count           303.000000  303.000000  303.000000  303.000000  303.000000
mean              0.148515    0.528053  149.646865    0.326733    1.039604
std               0.356198    0.525860   22.905161    0.469794    1.161075
min               0.000000    0.000000   71.000000    0.000000    0.000000
25%               0.000000    0.000000  133.500000    0.000000    0.000000
50%               0.000000    1.000000  153.000000    0.000000    0.800000
75%               0.000000    1.000000  166.000000    1.000000    1.600000
max               1.000000    2.000000  202.000000    1.000000    6.200000

            slope  num_major_vessels        thal      target
count  303.000000         303.000000  303.000000  303.000000
mean     1.399340           0.729373    2.313531    0.544554
std      0.616226           1.022606    0.612277    0.498835
min      0.000000           0.000000    0.000000    0.000000
25%      1.000000           0.000000    2.000000    0.000000
50%      1.000000           0.000000    2.000000    1.000000
75%      2.000000           1.000000    3.000000    1.000000
max      2.000000           4.000000    3.000000    1.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  303 non-null    int64
 1   sex                  303 non-null    int64
 2   chest_pain_type      303 non-null    int64
 3   resting_bp           303 non-null    int64
 4   cholestoral          303 non-null    int64
 5   fasting_blood_sugar  303 non-null    int64
 6   restecg              303 non-null    int64
 7   max_hr               303 non-null    int64
 8   exang                303 non-null    int64
 9   oldpeak              303 non-null    float64
 10  slope                303 non-null    int64
 11  num_major_vessels    303 non-null    int64
 12  thal                 303 non-null    int64
 13  target               303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB